<ion-view hide-nav-bar="true">
    <div class="bar bar-header">
        <button class="button button-icon ion-ios-arrow-left back" ui-sref="tabs.home"></button>
        <button class="button button-icon ion-ios-redo-outline"></button>
    </div>
    <ion-content>
        <ion-list>
            <ion-item class="pro_head">
                <div class="pic"><img src="images/de.jpg" /></div>
                <h2>茄汁蛋包饭</h2>
                <p>已有293人点赞  6001人收藏</p>
                <div class="tx"><img src="images/t1.jpg" /></div>
                <span>抹茶</span>
            </ion-item>
            <ion-item class="pro_desc">
                <ul>
                    <li>
                        <span class="icon ion-ios-flame-outline"></span><br>
                        <span>烘培</span>
                    </li>
                    <li>
                        <span class="icon ion-ios-flame-outline"></span><br>
                        <span>甜香味</span>
                    </li>
                    <li>
                        <span class="icon ion-ios-flame-outline"></span><br>
                        <span><30分钟</span>
                    </li>

                </ul>
            </ion-item>
            <ion-item class="material">
                <h4>— 需要材料 —</h4>
                <ul class="detail">
                    <li>米饭 1碗</li>
                    <li>鸡蛋 2个</li>
                    <li>火腿肠 1根</li>
                    <li>超市杂蔬 适量</li>
                    <li>番茄酱 适量</li>
                    <li>橄榄油 适量</li>
                    <li>盐适 量</li>
                    <li>玉米淀粉 适量</li>
                    <li>奶酪片 适量</li>
                    <li>海苔 适量</li>
                    <li>酱油 适量</li>
                </ul>
            </ion-item>
            <ion-item class="material">
                <h4>— 烹饪模式  —</h4>
            </ion-item>
            <ion-item class="step">
                <i>1</i>
                <img src="images/de1.jpg" />
                <p>火腿肠切小粒 (同杂蔬大小相同)</p>
            </ion-item>
            <ion-item class="step">
                <i>2</i>
                <img src="images/de2.jpg" />
                <p>平底锅烧热，1大勺橄榄油，放入火腿粒、杂蔬粒炒香</p>
            </ion-item>
            <ion-item class="step">
                <i>3</i>
                <img src="images/de3.jpg" />
                <p>再加入米饭同炒</p>
            </ion-item>
            <ion-item class="step">
                <i>4</i>
                <img src="images/de4.jpg" />
                <p>炒透炒匀后，加入番茄酱和和盐调味炒匀，盛出备用</p>
            </ion-item>
            <ion-item class="step">
                <i>7</i>
                <img src="images/de7.jpg" />
                <p>锅里薄薄抹一层油，鸡蛋加入摊成蛋饼</p>
            </ion-item>
            <ion-item class="step">
                <i>8</i>
                <img src="images/de8.jpg" />
                <p>将取出来的一点米饭加入少许酱油拌匀，用保鲜膜团出小熊的头摆在合适的位置，再团出小熊的耳朵和胳膊放入</p>
            </ion-item>
            <ion-item class="step">
                <i>9</i>
                <img src="images/de9.jpg" />
                <p>将炒好的蛋炒饭放在盘子里，充当小熊身体；奶酪片剪出小熊的嘴巴和耳朵，海苔剪出小熊的眼睛和鼻子、嘴巴</p>
            </ion-item>
            <ion-item class="step">
                <i>10</i>
                <img src="images/de10.jpg" />
                <p>把蛋饼盖在小熊身上做被子，做出小熊的胳膊放在被子下面</p>
            </ion-item>
            <ion-item class="step">
                <i>11</i>
                <img src="images/de11.jpg" />
                <p>被子上用番茄酱装饰一下就大功告成</p>
            </ion-item>
            <ion-item class="material">
                <h4>— 小贴士  —</h4>
                <ul class="ties">
                    <li>加的糖不多，只是为了更好打发蛋白。但香蕉本身就是含糖很高的水果，所以这款蛋糕，还是很甜！</li>
                    <li>面粉一定要多过筛几遍，这样做出来的口感更细腻！</li>
                    <li>切的时候，要像拉锯那样，来回动着向下切，这样切面更漂亮！</li>
                </ul>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>