<ion-view hide-nav-bar="true">
    <div class="bar bar-header">
        <button class="button button-icon ion-ios-arrow-left back" ui-sref="tabs.about"></button>
        <h2 class="title">设置</h2>
    </div>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="set_r">
                <h2>账号设置</h2>
                <div class="rig">
                    <span>已绑定手机*2561 <i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </ion-item>
            <ion-item class="set_r">
                <h2>清理缓存</h2>
                <div class="rig">
                    <span>21.58MB <i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </ion-item>
            <ion-item class="set_r">
                <h2>喜好设置</h2>
                <div class="rig">
                    <span><i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </ion-item>
            <ion-item class="set_r">
                <h2>收货地址</h2>
                <div class="rig">
                    <span> <i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </ion-item>
            <ion-item class="set_r">
                <h2>商家登录</h2>
                <div class="rig">
                    <span> <i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </ion-item>
            <ion-item class="set_r">
                <h2>觉得不错，鼓励一下</h2>
                <div class="rig">
                    <span> <i class="icon ion-ios-arrow-right"></i></span>
                </div>
            </ion-item>
        </ion-list>
        <button class="button button-block button-energized logintc">退出登录</button>
    </ion-content>
</ion-view>