<ion-view hide-nav-bar="true">
    <div class="bar bar-header">
        <i class="button button-icon ion-ios-arrow-left" ui-sref="tabs.home"></i>
        <h2 class="title">创建菜谱</h2>
    </div>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="cre_ban">
                <div class="pic">
                    <img src="images/create_02.jpg">
                </div>
            </ion-item>
            <ion-item class="list_c">
                <h2>菜谱名</h2>
                <div class="item-input-inset">
                    <label class="item-input-wrapper sru">
                        <i class="icon ion-edit"></i>
                        <input type="text" placeholder="请输入菜谱名">
                    </label>
                </div>
            </ion-item>
            <ion-item class="list_c">
                <h2>材料</h2>
                <label class="cailiao">
                    <input type="text" placeholder="例如：鸡蛋">
                    <input type="text" placeholder="1只">
                    <input type="text" placeholder="例如：猪肉">
                    <input type="text" placeholder="500g">
                    <input type="text" placeholder="例如：盐">
                    <input type="text" placeholder="适量">
                </label>
            </ion-item>
            <ion-item class="list_c">
                <h2>步骤</h2>
                <div class="pic">
                    <img src="images/create_02.jpg">
                    <label class="item-input-wrapper sru">
                        <i class="icon ion-edit"></i>
                        <input type="text" placeholder="添加描述">
                    </label>
                </div>
                <div class="pic">
                    <img src="images/create_02.jpg">
                    <label class="item-input-wrapper sru">
                        <i class="icon ion-edit"></i>
                        <input type="text" placeholder="添加描述">
                    </label>
                </div>
            </ion-item>
            <ion-item class="list_c">
                <h2>小贴士</h2>
                <div class="item-input-inset">
                    <label class="item-input-wrapper sru">
                        <i class="icon ion-android-favorite-outline"></i>
                        <input type="text" placeholder="添加小贴士">
                    </label>
                </div>
            </ion-item>
            <ion-item class="list_c">
                <h2>标签</h2>
                <div class="item-input-inset">
                    <label class="item-input-wrapper sru">
                        <i class="icon ion-ios-calendar-outline"></i>
                        <input type="text" placeholder="添加标签">
                    </label>
                </div>
            </ion-item>
        </ion-list>
        <button class="button button-block button-energized "> 创建菜谱</button>
    </ion-content>
</ion-view>