<ion-view hide-nav-bar="true">
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper search_n">
            <i class="icon ion-android-search placeholder-icon"></i>
            <input type="text" placeholder="搜索商品">
        </label>
        <i class="s_button" ui-sref="tabs.home">取消</i>
    </div>
    <ion-content class="has-header hot">
        <h4>热门搜索</h4>
        <ul>
            <li>新鲜蔬果</li>
            <li>肉禽鸡蛋</li>
            <li>放心大米</li>
            <li>粮油调味</li>
            <li>菌菇干货</li>
            <li>休闲零食</li>
            <li>厨房收纳</li>
            <li>家用电器</li>
        </ul>
    </ion-content>
</ion-view>