<ion-view view-title="我的" hide-nav-bar="true">
    <div class="bar bar-header">
        <button class="button button-icon ion-ios-email-outline" ui-sref="tabs.message"></button>
        <div class="h1 title">我的</div>
        <button class="button button-icon ion-gear-a" ui-sref="tabs.set"></button>
    </div>
    <ion-content>
        <div class="me">
            <div class="user">
                <div class="pic"><img src="images/t12.jpg"></div>
                <img src="images/t12.jpg" class="img">
                <h5>静儿</h5>
                <span class="span1"><i class="icon ion-person-add"></i>关注 2</span>
                <span><i class="icon ion-person-stalker"></i>粉丝 2</span>
            </div>
        </div>
        <div class="list1 clearfix">
            <div class="price">
                <img src="images/about_03.jpg">
                <p><span>钱包</span> 0.00元</p>
            </div>
            <div class="chu">
                <img src="images/about_05.jpg">
                <p><span>厨币</span> 100个</p>
            </div>
        </div>
        <ul class="ul clearfix">
            <li>
                <img src="images/about_10.jpg">
                <h5>课程</h5>
            </li>
            <li >
                <img src="images/about_13.jpg">
                <h5>问答</h5>
            </li>
            <li>
                <img src="images/about_15.jpg">
                <h5>订单</h5>
            </li>
            <li>
                <img src="images/about_17.jpg">
                <h5>菜篮子</h5>
            </li>
        </ul>
        <ul class="ul clearfix">
            <li>
                <img src="images/about_23.jpg">
                <h5>喜好设置</h5>
            </li>
            <li >
                <img src="images/about_24.jpg">
                <h5>收藏</h5>
            </li>
            <li>
                <img src="images/about_25.jpg">
                <h5>添加好友</h5>
            </li>
            <li>
                <img src="images/about_26.jpg">
                <h5>反馈</h5>
            </li>
        </ul>
        <div class="fon">
            <h3>新手任务</h3>
            <ul>
                <li>首发厨说奖励 +500</li>
            </ul>
            <h3>每日活跃值任务</h3>
            <ul>
                <li>签到 +70 <span>0/1</span></li>
                <li>发布菜谱 +50 <span>0/5</span></li>
                <li>发布学做 +40 <span>0/5</span></li>
                <li>签到 +70 <span>0/5</span></li>
                <li>签到 +70 <span>0/20</span></li>
                <li>签到 +70 <span>0/20</span></li>
                <li>签到 +70 <span>0/5</span></li>
            </ul>
        </div>

    </ion-content>
</ion-view>