<ion-view hide-nav-bar="true">
    <div class="bar bar-header">
        <button class="button button-icon ion-ios-arrow-left back" ui-sref="tabs.about"></button>
        <h2 class="title">消息</h2>
    </div>
    <ion-content class="has-header messa">
        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="images/t8.jpg">
                <h2>洋洋</h2>
                <time>01-17 00:15</time>
                <p>终于等到你，欢迎加入小小美厨！</p>
            </a>
        </div>
    </ion-content>
</ion-view>